.book-contain{
  width: 100%;
  height: auto;
  margin: 2rem 0 2rem 0;
}

.book{
  width: 70%;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: white;
}

.top{
  height: 25rem;
  padding: 1rem;
  border: 1px dashed #ccc;
  width: 100%;
  box-sizing: border-box;
}

.bottom{
  height: 35rem;
  padding: 1rem;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.top-left{
  float: left;
  width: 40%;
  height: 100%;
}

.top-left img{
  height: 100%;
  max-width: 90%;
}
.top-right{
  float: right;
  width: 60%;
  height: 100%;
}

.b-left{
  width: 30%;
  height: 100%;
  float: left;
}

.b-right{
  width: 70%;
  height: 100%;
  float: right;
}

.b-content-1, .b-content-2{
  height: 4rem;
  width: 100%;
  padding: 1.5rem 0 0 2rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
}

.dot{
  float: right;
}

.message{
  background-color: #2ecc71;
  color: #c0392b;
  font-family: 'Krub', sans-serif;
  border-radius: 5rem;
  height: 5rem;
  width: 100%;
  margin: 1rem 0 0 0;
  box-sizing: border-box;
  padding: 1.8rem;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.delete{
  width: 10rem;
  height: 4rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 3rem;
  margin: 2rem 2rem 0 0;
  font-family: 'Krub', sans-serif;
  float: right;
}

.delete:hover{
  background-color: #c0392b;
}

.update{
  width: 10rem;
  height: 4rem;
  padding: 0.8rem;
  font-family: 'Krub', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 3rem;
  margin: 2rem 0 0 2rem;
  float: left;
}

.update:hover{
  background-color: #27ae60;
}

.Description{
  font-family: 'Krub', sans-serif;
}
