*{
  margin: 0;
  padding: 0;
  /*font-family: calibri;*/
}

body{
  max-height: 100%;
  min-width: 70rem;
  background-image: url('../images/background.jpg');
  background-size: contain;
  background-repeat: repeat;
}

header{
  height: 5rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.7rem;
  background-color: white;
  margin-bottom: 5rem;
  border-bottom: 0.1rem solid #ccc;
  font-family: 'PT Sans', sans-serif;
}

header h2{
  color: red;
  font-size: 42px;
}
